export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

export ZDOTDIR="$HOME/.config/zsh"
export XMONAD_DATA_DIR="~/.config/xmonad"
export XMONAD_CONFIG_DIR="~/.config/xmonad"
export XMONAD_CACHE_DIR="~/.config/xmonad"
